*{
    margin: 0;
    padding: 
}

#ssa{background-color: rgba(238, 175, 99, 0.774);}
#salom{text-align: center;}
#bir{text-align: center;;background-color: rgb(151, 102, 10); font-weight: 100; padding: 30;}
.ip{color: brown;}
.op{color: brown;}
.ff