.hh{color: greenyellow; background-color: purple;}
.bpoo{color: greenyellow; font-weight: bold}
.p{color: blueviolet; font-weight: bold;}
.d{background-color: yellow; color: red;font-weight: bold;}
.b{background-color: yellow; color: red;font-weight: bold;}
