h1
{
  letter-spacing: 30px;  
  text-align: center;
  line-height: 60px; 
  word-spacing: 30px;
  font-weight: bold;
  text-shadow: -10px -10px 11px yellowgreen,10px 10px 10px;
}

a{text-decoration: black;}
.box{box-shadow: 10px 10px 10px aqua; background-color: rgb(0, 255, 255);
border-top-right-radius: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 60px;
text-align: center;
border: solid 2px ;}

.box2{
    width: 150px;
    height: 150px;
    border: 10px solid transparent;
    border-image:url('https://cdn.pixabay.com/photo/2020/10/26/12/25/frame-5687265_1280.png') 30 round;
}
