.salom{
    text-align: center;background-color: rgb(0, 183, 255);color: aliceblue;
}


h2
{color: rgb(0, 183, 255);
border-bottom: 2px solid rgb(0, 178, 249); 
}


body
{background-color: rgba(109, 109, 109, 0.221);
}


.bg
{background-color: white; margin: 60px
    ;}
    