body
{background-color: rgba(0, 0, 0, 0.768);
font-family: monospace;}
*{margin: 0%; padding: 0%;}
.continer
{width: 80px;
height: 50px;
margin: 0 auto}
.box{width: 170px;
height: 170px;
background-color: white;
text-align: center;
padding: 20px;
border-radius: 7%;}
.ava{width: 50px;
 height: 50px;
background-color: gray;
margin: 0 auto ;
border-radius: 100%;}