h1{text-align: center;background-color: rgb(255, 255, 255);}
div{text-align: center;background-color: white;}
body{background-color: rgb(227, 224, 224);}
ul{display: inline-block;}
img{width: 80;}
ol{display: inline-block;}