.box
{
    width: 150px;
    height: 100px;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    
}
body
{
    background-color: gray;
}
.red
{
    background-color: red;
}
.blue
{
    background-color: blue;
}