*
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: rgb(67, 67, 67);
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
a
{
    text-decoration: none;
    color: white;
   
}
nav
{
    width:  690px;
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
        background-color: rgb(45, 44, 44);

}
.mainleft
{
    width: 350px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.491);
    color: rgb(111, 111, 111);
    
}
.mainright
{
    width: 630px;
    height: 300px;
    background-color:rgb(45, 44, 44) ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
.mainlar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.mainleft h1
{
    font-size: 40px;
}
.mainleft h1,p
{
    margin-left: 20px;
    margin-right: 20px;
    
}
.mainleft a
{
    color: orange;
    margin-left: 230px;
    
}


.lorem
{
    width: 240px;
    height: 300px;

}
.loremlar
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.black
{
    width: 80px;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.orqablack
{
    width: 85px;
    height: 85px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.lorem small
{
    margin-left: 10px;
}
.lorem a
{
    
    color: orange;
    margin-left: 150px;
}
.ss
{
    width: 220px;
    height: 105px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sss
{
    width: 215px;
    height: 100px;
    background-color: rgb(45, 44, 44) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ikki
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}
.se
{
    width: 230px;
}
.se a
{
   color: orange;
    margin-left: 130px; 
}
footer
{
    display: flex;
    justify-content: space-around;
    gap:330px;
    background-color: rgb(45, 44, 44);
    width: 100%;
    height: 165px;
    color: white;
    
}
footer p
{
 margin-top: 50px;
}
