body
{
    background-color: rgb(72, 84, 116);
}
.box
{
    width: 200px;
    height: 200px;
    background-color: skyblue;
     transition: 1s;
     border-radius: 8px;
    
}
.cont
{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    gap: 40px;
    margin-top: 30%;
}

small , h1
{
  color: white;
    text-align: center; 
 display: block;      
}
.s:hover
{
    transform: scale(1.3);
}
.q:hover
{
transform: translateY(-90px);
}
.w:hover
{
transform: rotate(50deg);
background-color: orange;
}
.e:hover
{
transform: skew(-20deg);
border-radius: 0;
}
.r:hover
{
border-radius: 100%;

}
.t:hover
{
background-color: red;
}
.y:hover
{
box-shadow: -10px 10px 10px white;
}
.u:hover
{
opacity: 0.5;
}
.i{
    animation: spin 2s linear infinite;
    background-color: aquamarine;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.o{
    animation: top 2s linear infinite;
    background-color: yellow;
}

@keyframes top {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
}
p 
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p
{ 
    color: black;
}