h1{text-align: center;}
.margin
{width: 70%;
height: 70%;
margin: 0 auto;
padding: 36px;
background-color: aqua;}
.border
{width: 100%;
height: 100%;
padding: px;
margin: 0 auto ;
background-color: aliceblue;}

.padding
{width: 50%;
    padding: 18px;
height: 50%;
margin: 0 auto;
background-color: pink;
border: 2px dashed red;}
.continer{background-color: antiquewhite;
width: 50%;
height: 50%;
padding: 20px;
margin: 0 auto ;
background-color: rgb(249, 249, 249);}
body{background-color: rgba(128, 128, 128, 0.505);}
.contect{background-color: rgb(81, 134, 234) ;
text-align: center;border: 2px solid blue;}