.box
{
    width: 100px;
    height: 100px;
 background-color: black; 
 position: absolute;
 left: 0;
 bottom: 0;
}
.continer
{position: relative;
height: 100vh;
border: 2px solid black;}
.box2
{
    width: 100px;
    height: 100px;
 background-color: black; 
 position: absolute;
 left: 0;
 top: 0;
}
.box3
{
    width: 100px;
    height: 100px;
 background-color: black; 
 position: absolute;
 right: 0;
 top: 0;
}
.box4
{
    width: 100px;
    height: 100px;
 background-color: black; 
 position: absolute;
right: 0;
 bottom: 0;
}